.cart{
    justify-content: space-between;
}
.banner{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 105%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -2;
    filter: blur(2px);
    font-style: italic;
}

.letra{
    color: antiquewhite;
}